/*section Jogadores*/
.jogadores__container {
    margin-top: 2em;
}

.jogadores__conteudo {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #FFFFFF;
}


.jogadores__titulo__texto {
    border-bottom: 3px solid black;
    color: #32363E;
    font-size: 1.25em;
    font-weight: bold;
    padding: .3em;
    text-align: center;
}

.jogadores__indicador__item {
    background: #606074;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #966AF4;
    font-size: 1em;
    margin: .5em;
    padding: .5em;
}

.jogadores__indicador__item h3 {
    text-align: center;
    margin: .5em;
}

.user_icon {
    display: block;
    height: 80px;
    margin: auto;
    width: 80px;
}

.info {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #32363E;
}

.info__item {
    border-bottom: 3px solid black;
    text-align: left;
    font-weight: bold;
    padding: 1em;
}

.info__item:last-child {
    border-bottom: none;
}

/*section Mesa*/
.mesa__conteudo {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 3em;
    width: 55%;
}

.conteudo__cardComprar {
    background: #090E14;
    border-radius: 10px;
    font-size: 1em;
    height: 350px;
    width: 250px;
}

.conteudo__cardMesa {
    background: #A08C9D;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1em;
    height: 350px;
    width: 250px;
}

.conteudo__cardComprar__texto, .conteudo__cardMesa__texto {
    text-align: center;
    font-size: 1em;
}

.conteudo__cardComprar__btn, .conteudo__cardMesa__btn {
    background-color: #C4C4C4;
    border-radius: 5px;
    font-size: 1em;
}

/*section Mao*/
.mao__conteudo {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #FFFFFF;
    width: 55%;
}

.mao__indicador__item {
    margin: .5em;
    padding: .5em;
}

.mao__indicador__item h3 {
    font-size: 1em;
    margin: .5em;
    text-align: center;
}

.item__cardMao {
    background: #A08C9D;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1em;
    height: 350px;
    width: 250px;
}

.mao__btn {
    background-color: #4BAF6D;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}