.jogadores {
    margin-top: 3.5em;
}

.jogadores__titulo {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #FFFFFF;
}

.jogadores__titulo__texto {
    border-bottom: 5px solid black;
    color: #32363E;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 1em;
}

.jogadores__indicador__item {
    background: #606074;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.jogadores__indicador__item h3 {
    text-align: center;
    margin: .5em;
}

.user_icon {
    display: block;
    height: 80px;
    margin: auto;
    width: 80px;
}

.info {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #32363E;
}

.info__item {
    border-bottom: 3px solid black;
    text-align: left;
    font-weight: bold;
    padding: 2.25em;
}

.info__item:last-child {
    border-bottom: none;
}

.mesa__indicador {
    background: #D4D3E1;
    border: 5px solid black;
    border-radius: 10px;
    color: #FFFFFF;
    margin: auto;
}

.mesa__item {
    
}

.mesa__item__card {
    background: #090E14;
    padding: 10em 3em 10em 3em;
}